<div class="btn-group" role="group" >
    <button type="button" class="btn btn-primary" onclick="getConteudo(`{% url 'cadastro_categoria' %}`)">Novo</button>
</div>

<table class="table" id="tableCategorias">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Descrição</th>
        <th scope="col" class="text-center">Ações</th>
      </tr>
    </thead>
    <tbody>
        {% for categoria in categorias %}
        <tr>
        <th scope="row">{{ categoria.id }}</th>
        <td>{{ categoria.descricao }}</td>
        <td class="text-center">
            <div class="btn-group" role="group" >
                <button type="button" class="btn btn-outline-dark" onclick="getConteudo(`{% url 'categoria_detail' pk=categoria.id %}`)">Visualizar</button>
                <button type="button" class="btn btn-outline-dark" onclick="getConteudo(`{% url 'editar_categoria' pk=categoria.id %}`)">Editar</button>
            </div>
        </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  <nav aria-label="...">
    {% if page_obj %}
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a href="#"  class="page-link" onclick="atualizaAbaAtiva(`{% url 'lista_categorias' %}?page={{ page_obj.previous_page_number }}`)">Anterior</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link">Anterior</a>
        </li>
        {% endif %}
        {% for pagina in page_obj.paginator.page_range %}
        {% if page_obj.number == pagina %}
        <li class="page-item active">
            <a class="page-link">{{ pagina }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a href="#" onclick="atualizaAbaAtiva(`{% url 'lista_categorias' %}?page={{pagina}}`)" class="page-link">{{ pagina }}</a>
        </li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item">
            <a href="{% url 'lista_categorias' %}?page={{ page_obj.next_page_number }}" class="page-link">Próxima</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link">Próxima</a>
        </li>
        {% endif %}
    </ul>
    {% endif %}
</nav>