<div class="btn-group" role="group" >
    <button type="button" class="btn btn-primary" onclick="getConteudo(`{% url 'cadastro_produto' %}`)">Novo</button>
</div>
<table class="table" id="tableProdutos">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Foto</th>
        <th scope="col">Descrição</th>
        <th scope="col">Preço</th>
        <th scope="col">Status</th>
        <th scope="col" class="text-center">Ações</th>
      </tr>
    </thead>
    <tbody>
        {% for produto in produtos %}
        <tr>
        <th scope="row">{{ produto.id }}</th>
        <td><img src="{{ produto.foto.url }}" class="rounded float-start" width="30px" height="30px"/></td>
           <td>{{ produto.descricao }}</td>
        <td>{{ produto.preco }}</td>
        <td>
            {% if produto.status == 1 %}
                Inativo
            {% else %}
                Ativo
            {% endif %}
        </td>
        <td class="text-center">
            <div class="btn-group" role="group" >
                <button type="button" class="btn btn-outline-dark" onclick="getConteudo(`{% url 'produto_detail' pk=produto.id %}`)">Visualizar</button>
                <button type="button" class="btn btn-outline-dark" onclick="getConteudo(`{% url 'editar_produto' pk=produto.id %}`)">Editar</button>
                <button type="button" class="btn btn-outline-dark" onclick="arquivaProduto(`{{ produto.id }}`)">Arquivar</button>
            </div>
        </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>

  <nav aria-label="...">
    {% if page_obj %}
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a href="#"  class="page-link" onclick="atualizaAbaAtiva(`{% url 'lista_produtos' %}?page={{ page_obj.previous_page_number }}`)">Anterior</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link">Anterior</a>
        </li>
        {% endif %}
        {% for pagina in page_obj.paginator.page_range %}
        {% if page_obj.number == pagina %}
        <li class="page-item active">
            <a class="page-link">{{ pagina }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a href="#" onclick="atualizaAbaAtiva(`{% url 'lista_produtos' %}?page={{pagina}}`)" class="page-link">{{ pagina }}</a>
        </li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item">
            <a href="{% url 'lista_produtos' %}?page={{ page_obj.next_page_number }}" class="page-link">Próxima</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link">Próxima</a>
        </li>
        {% endif %}
    </ul>
    {% endif %}
</nav>

