<table class="table" id="tableCategorias">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Descrição</th>
      </tr>
    </thead>
    <tbody>
        <tr>
        <th scope="row">{{ categoria.id }}</th>
        <td>{{ categoria.descricao }}</td>
        </tr>
    </tbody>
  </table>

