<form method="POST" enctype="multipart/form-data" id="formProduto">
    {% csrf_token %}
    {% for field in form %}
    <p>{{ field.label_tag }} {{ field }} </p>
    {% if form.errors %}
    {% for error in field.errors %}
    <p class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </p>
    {% endfor %}
    {% endif %}
    {% if field.help_text %}
    <p class="form-text">{{ field.help_text|safe }}</p>
    {% endif %}
    {% endfor %}

    <button type="button" class="btn btn-primary" onclick="postForm(`{% url 'editar_produto' pk=form.instance.id %}`, 'formProduto')">
        Salvar
    </button>

</form>