{% extends 'base.html' %}

{% block content %}

<!-- Modal -->
<div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Dados</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modalConteudo">
        ...
      </div>
    </div>
  </div>
</div>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation" >
    <button class="nav-link active" id="produtos-tab" data-bs-toggle="tab" data-bs-target="#produtos" type="button"
      role="tab" aria-controls="produtos" aria-selected="true" >Produtos</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="categorias-tab" data-bs-toggle="tab" data-bs-target="#categorias" type="button" role="tab"
      aria-controls="categorias" aria-selected="false" >Categorias</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="produtos" role="tabpanel" aria-labelledby="produtos-tab">{% include '_produtos.html' %}</div>
  <div class="tab-pane fade" id="categorias" role="tabpanel" aria-labelledby="categorias-tab">{% include '_categorias.html '%}</div>
</div>

{% endblock %}

{% block js%}
<script>

  $(document).ready(function(){
    atualizaAba();
  });

  $('.nav-item').click((e) => {
    const targetID = $(e.target).data('bs-target').replace('#','');
    atualizaAba(targetID)
  })

  function getConteudo(url_backend) {
    $.ajax({
      type: "GET",
      url: url_backend,
    }).done(function (data) {
      let modal = $('#modalConteudo');
      modal.html(data);
      $('#myModal').modal('show');
    })
      .fail(function (xhr, status, error) {
        alert("erro ao coletar dados")
      });
  }

  function atualizaAba(idAbaAtiva = $('.tab-pane.fade.show.active').attr('id')) {
    let url_lista;
    if (idAbaAtiva === 'produtos') {
      url_lista = "{% url 'lista_produtos' %}";
    } else {
      url_lista = "{% url 'lista_categorias' %}";
    }
    $.ajax({
      type: "GET",
      url: url_lista,
      success: function (data) {
        $(`#${idAbaAtiva}`).html(data);
      },
    })
  }

  function postForm(url_form, idForm) {
    const dados = new FormData($(`#${idForm}`)[0]);
    $.ajax({
      type: "POST",
      data: dados,
      url: url_form,
      processData: false,
      contentType: false,
      success: function (data) {
        $('#myModal').modal('hide');
        alert("sucesso!")
        atualizaAba();
      },
      error: function (data) {
        if (data.status == 400) {
          $('#modalConteudo').html(data.responseText);
        } else {
          alert('Erro ao salvar');
        }
      }
    });
  }

  function arquivaProduto(idProduto) {
    let url = "{% url 'arquiva_produto' pk=0 %}";
    url = url.replace('0', idProduto);
    $.ajax({
      headers: {'X-CSRFToken': '{{ csrf_token }}'},
      type: "POST",
      url: url,
      processData: false,
      contentType: false,
      success: function (data) {
        alert("Status alterado")
        atualizaAba();
      },
      error: function (data) {
          alert('Erro ao arquivar');
      }
    });
  }

  function atualizaAbaAtiva(url_lista) {
    const idAbaAtiva = $('.tab-pane.fade.show.active').attr('id');
    $.ajax({
      type: "GET",
      url: url_lista,
      success: function (data) {
        $(`#${idAbaAtiva}`).html(data);
      }
    })
  }

</script>

{% endblock %}