<table class="table" id="tableProdutos">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Foto</th>
        <th scope="col">Descrição</th>
        <th scope="col">Detalhes</th>
        <th scope="col">Preço</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
        <tr>
        <th scope="row">{{ produto.id }}</th>
        <td><img src="{{ produto.foto.url }}" class="rounded float-start" width="30px" height="30px"/></td>
        <td>{{ produto.descricao }}</td>
        <td>{{ produto.detalhes }}</td>
        <td>{{ produto.preco }}</td>
        <td>
            {% if produto.status == 1 %}
                Inativo
            {% else %}
                Ativo
            {% endif %}
        </td>
        </tr>
    </tbody>
  </table>

