{% extends "base.html" %}
{% block content %}

{% if validlink %}
<h2>Redefinição de senha</h2>
<form method="POST">
    {% csrf_token %}

    <p><label for="id_password1">Nova Senha:</label>
        <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1"
            class="form-control" />
    </p>
    {% for error in form.new_password1.errors %}
    <p class="alert alert-danger">
        <strong>{{ error }}</strong>
    </p>
    {% endfor %}

    <p class="form-text">Sua senha precisa conter pelo menos 8 caracteres<br>
        Sua senha não pode ser uma senha comumente utilizada<br>
        Sua senha não pode ser inteiramente numérica</p>
    <p><label for="id_password2">Confirme sua senha:</label> <input type="password" name="new_password2"
            class="form-control" required="" id="id_password2"> </p>
    {% for error in form.new_password2.errors %}
    <p class="alert alert-danger">
        <strong>{{ error }}</strong>
    </p>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Redefinir senha</button>
</form>
{% else %}
<div class="alert alert-warning">
    O link para validar senha é inválido, possivelmente já foi usado.
    Por favor solicite uma nova recuperação de senha
</div>
{% endif %}

{% endblock content %}